
.gradle/
build/
out/
bin/


/common/build/
/common/.gradle/
/common/bin/
/common/run/

/fabric/build/
/fabric/.gradle/
/fabric/bin/
/fabric/run/

/forge/build/
/forge/.gradle/
/forge/bin/
/forge/run/

run/
logs/
*.log

**/.architectury-transformer/
.classpath
.project
.settings/
.metadata/
.factorypath
*.launch

.idea/
*.iml
*.iws
*.ipr


.vscode/
*.code-workspace


.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*~
.directory

*.tmp
*.bak
*.swp
*.swo
*~.nib
*.orig
*.rej

local.properties
gradle-local.properties

/.claude/
/MCP-Reborn-1.20
/.windsurf
/1.0.0
/tectonic
/ReTerraForged
/terralith

/common/.gradle
**/.gradle/
.gradle/
/worldgen-roadweaver-analysis.md
/nbt
/AGENTS.md
/.cursor/rules/mc.mdc
/assets/
/.kiro/
/LostCities-1.20
/twilightforest-fabric/
/PasterDreamGradle/
/server/
/Oh-The-Biomes-Weve-Gone/
/MCP-Reborn-1.21
/moxing
# WindsurfChatOpen
.windsurfchatopen/
.windsurfrules
/TouhouLittleMaid